<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<title>List Products</title>
</head>
<body>
<div class="d-flex justify-content-center">
	<h1>Stock List Manager</h1>
	</div>
	<div class="d-flex justify-content-center">
	
	<img src="resources/factory_template.jpg" class="img-fluid" alt="Responsive image">
	</div>
	<div>
	<form:form action="searchProducts" method="POST">
	Search Products:<input type="text" name="searchId" />
		<input type="submit" value="Search" class="add-button" />
	</form:form>
	
	<input type="button" value="Add Product"
		onclick="window.location.href='addProductForm'; return false;" />
		</div>
	<div class="d-flex justify-content-center">
		<table class="table">
			<thead>
				<tr>
					<th>Item ID</th>
					<th>Item Name</th>
					<th>Item Type</th>
					<th>Item Size</th>
					<th>Item Colour</th>
					<th>Item Spec</th>
					<th>Item Location</th>
					<th>Beacon Number</th>
					<th>Customer / Stock</th>
					<th>Update | Delete</th>
				</tr>
			</thead>
			<c:forEach var="tempProduct" items="${products}">
				<c:url var="updateProductLink" value="/showUpdateProductForm">
					<c:param name="productId" value="${tempProduct.id}" />
				</c:url>

				<c:url var="deleteProductLink" value="/deleteProduct">
					<c:param name="productId" value="${tempProduct.id}" />
				</c:url>

				<tr>
					<td>${tempProduct.id}</td>
					<td>${tempProduct.itemName}</td>
					<td>${tempProduct.itemType}</td>
					<td>${tempProduct.itemSize}</td>
					<td>${tempProduct.itemColour}</td>
					<td>${tempProduct.itemSpec}</td>
					<td>${tempProduct.itemLocation}</td>
					<td>${tempProduct.beacon}</td>
					<td>${tempProduct.customer}</td>
					<td><a href="${updateProductLink}">Update</a> | <a
						href="${deleteProductLink}">Delete</a></td>
				</tr>

			</c:forEach>
		</table>
	</div>
</body>
</html>